html {
  background-color: #ffffff;
}
header {
  background-color: #ffffff;
}

.box-r .fond-gris {
  background-color: #ebebeb;
  border-radius: 30px;
  font-family: Montserrat, regular;
}
.police {
  font-family: Montserrat, regular;
}

h1 {
  font-size: 5rem;
  text-align: right;
  font-family: Montserrat, regular;
  color: #f1ba7a;
  float: right;
}
.st-placement {
  inline-size: 45%;
  text-align: right;
}

.sous-titre {
  font-size: 38px;
  text-align: left;
  font-family: Montserrat, light;
  border-radius: 30px;
  background-color: #ffffff;
}
.st-gras {
  font-size: 43px;
  text-align: right;
  font-family: Montserrat, light;
}

h2 {
  background-color: #f1ba7a;
  font-size: 30px;
  border-radius: 30px;
  font-family: Montserrat, regular;
  text-align: center;
}

.box {
  display: flex;
  width: 1000px;
}

.box :first-child {
  align-self: center;
}

.box-l,
footer {
  text-align: left;
  width: 40%;
  flex: 2;
  margin: 1rem;
}

.box-r {
  text-align: left;
  width: 60%;
  flex: 3;
}
.box2 {
  display: flex;
  width: auto;
}

.box2 :first-child {
  align-self: auto;
}

.box2-l {
  text-align: left;
  width: 40%;
  flex: 2;
}

.box2-r {
  text-align: left;
  width: 60%;
  flex: 3;
}
img {
  float: top, left;
}
.box-l {
  background: #f1ba7a;
}
